/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 jul 2024, 08:08:35
    Author     : metal
*/

/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    min-height: 100vh; /* Para ocupar toda la altura visible del viewport */
}

.container {
    width: 70%; /* Ajustado para ocupar el 70% del ancho */
    margin: auto;
    overflow: hidden;
    background: #fff; /* Fondo blanco para el contenedor */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0; /* Elimina el margen superior por defecto */
    color: #333;
}

form {
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333; /* Color de texto más oscuro */
}

input[type="text"],
input[type="submit"],
select {
    width: calc(100% - 18px); /* Ajustado para considerar el borde */
    padding: 8px;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 34px; /* Igualar altura al input de texto */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin-bottom: 1em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
